language: julia
sudo: false
os:
  - linux
julia:
  - 0.4
  - 0.5
notifications:
  - email: false
after_success:
  - julia -e 'Pkg.add("Documenter"); Pkg.add("Coverage");'
  - julia -e 'cd(Pkg.dir("Contour")); using Coverage; Coveralls.submit(process_folder()); Codecov.submit(process_folder())'
  - julia -e 'cd(Pkg.dir("Contour")); include(joinpath("docs", "make.jl"))'
